name: Rust

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: cargo-bins/cargo-binstall@main
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.75
          components: clippy rustfmt

      - name: Install dependencies
        run: |
          sudo apt-get update && \
          sudo apt-get install -y podman qemu-user-static && \
          cargo binstall --no-confirm cross

      - name: Check code formatting
        run: cargo fmt -- --check

      - name: Build for x86_64-unknown-linux-gnu
        run: CROSS_CONTAINER_ENGINE=podman cross build --target x86_64-unknown-linux-gnu --examples --bins

      - name: Build for aarch64-unknown-linux-gnu
        run: CROSS_CONTAINER_ENGINE=podman cross build --target aarch64-unknown-linux-gnu --examples --bins

      - name: Build documentation
        run: cargo doc --no-deps --quiet

      - name: Run tests
        run: cargo test --quiet

      - name: Code analysis
        run: cargo clippy --quiet
